


@import '../src/app/app.component.scss';
$color-text: #000000;
$color-link: #b13800;


.navigation-container{
   width: 20%;
}

.li-hover{
    color: $color-link;
    font-weight: bolder;
  &:hover{
    cursor: pointer;
  }
}